<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

   <connectionStrings>

      <add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=OTSUTP;Persist Security Info=True;User ID=C2POTS1;Password=Clear2Pay!;Application Name=OtsUtp" providerName="System.Data.SqlClient" />

      <!--<add name="DefaultConnection" connectionString="Data Source=be-ots-utp-01;Initial Catalog=OTSUTP;Persist Security Info=True;User ID=C2POTS1;Password=Clear2Pay!;Application Name=OtsUtp" providerName="System.Data.SqlClient" />-->

   </connectionStrings>

   <appSettings>
      <!-- Password settings -->
      <add key="RequiredLength" value="8" />
      <add key="RequireNonLetterOrDigit" value="true" />
      <add key="RequireDigit" value="true" />
      <add key="RequireLowercase" value="true" />
      <add key="RequireUppercase" value="true" />

      <!-- Idle Logout -->
      <!-- Note: Password, Idle, and Lockout settings can be be decimal numbers or true/false -->
      <!-- NOTE: See Startup.ConfigureAuth for cookie expiration time and make it greater than IdleLogoutMinutes -->
      <add key="IdleLogoutMinutes" value="25" />
      <add key="IdleWarningMinutes" value="5" />

      <!-- UserLockout: Ref: http://www.jlum.ws/post/2014/5/27/user-lockouts-in-aspnet-identity-2-with-aspnet-mvc-5 -->
      <add key="UserLockoutEnabledByDefault" value="true" />
      <!-- Lockout in minutes -->
      <add key="DefaultAccountLockoutTimeSpan" value="35" />
      <add key="MaxFailedAccessAttemptsBeforeLockout" value="6" />

      <!-- Password Reuse Rules -->
      <add key="PasswordReuseLimit" value="4" />

      <add key="owin:AppStartup" value="Clear2Pay.OTS.UTP.WebApp.Startup,Clear2Pay.OTS.UTP.WebApp" />
      <add key="webpages:Version" value="3.0.0.0" />
      <add key="webpages:Enabled" value="false" />
      <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="true" />

      <add key="ControllerAPIAddress" value="http://localhost:28090/" />


      <!-- ****************************************************************************************
      Note: Version Relates to Jira version of platform as a whole 
          Increment version after each UTP release within JIRA
      ****************************************************************************************-->
      <add key="ApplicationVersion" value="1.0.6" />
      <add key="WebApplicationVersion" value="1.0.11" />


      <!-- ****************************************************************************************
         NOTE: Do not Change below Keys and values as these are required for build process
      **************************************************************************************** -->
      <add key="ApplicationName" value="Unattended Test Platform" />
      <add key="LicensedTo" value="FIS Global" />
      <add key="CustomerWebSite" value="www.fisglobal.com" />
      <add key="CustomerSupportEmail" value="support@clear2pay.com" />


   </appSettings>

</configuration>
